.hero {
  background-image: url("../home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 230px 165px 131px 165px;
  column-gap: 386px;
}
.hero-content-main {
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  max-width: 444px;
  max-height: 382px;
  text-align: left;
}
h3 {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;  
  letter-spacing: 4.725px;
  color: #D0D6F9;
}
h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  color: #ffffff;
}
.explore {
  background-color: white;
  border-radius: 100%;

  width: 274px;
  height: 274px;
  color: #0b0d17;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  font-family: "Bellefair", serif;
}
